/*styles.css*/

/*
-----Colors-----
Whirlpool Yellow: #EFBB45;
Highlight Blue: #4D94DF;
Pale Grey:#E6E6E6;
*/

/*-----Basics-----*/

body{
	font-family: "Open Sans"; Helvetica, Arial, sans-serif;
	font-weight: 300;
	padding-top:50px;
}

/*-----Navigation-----*/
.navbar{
	background-color: #222;
	color:white;
	margin-bottom: 0;
}

.navbar a{
	color:white;
}

.navbar li a:hover{
	background-color: #222;
	color:#EFBB45;
}

.activePage{
	font-weight:600;
}

.navbar img{
	height:25px;
}

/*-----Masthead-----*/

.bs-docs-masthead{
	background-color: #E6E6E6;
	margin-top:none;
	border-bottom: 2px solid #EFBB45;
	padding-top:100px;
	padding-bottom:150px;
}

.lead{
	text-align: center;
	font-size: 3em;
}

.btn-default{
	background-color: #4D94DF;
	color:white;
}

.btn-default:hover{
	background-color: #4889CD;
	color:white;
}

.btn-default.active{
	background-color: #4889CD;
	color:white;
}

/*-----Other Content-----*/
.newsRow{
	min-height:500px;
	padding-top:50px;
	padding-bottom: 50px;
}

.newsRow h2{
	margin: 0 0 25px 0;
}

.newsRow h3{
	margin: 0 0 25px 0;
}

#whatsNew p{
	font-size: 1.5em;
}

.newsBox{
	border:2px solid #EFBB45;
	height:100px;
	margin-bottom: 10px;
}

/*-----Footer-----*/
footer{
	background-color: #222;
}

footer ul{
	list-style-type: none;
	padding:0;
	font-size: 1.1em;
	margin-top:50px;
	margin-bottom:50px;
}

footer a{
	color:white;
}

footer a:hover{
	color:#EFBB45;
}